<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>ChatApp</title>
</head>

<body>
    <div>
        <div class="header"></div>
        <div id="main">
            <div class="serverList">
                <ul>
                    <li>Server 1</li>
                    <li>Server 2</li>
                </ul>
            </div>
                <ul id="messages">
                    <li>Hey: hi</li>
                </ul>
                <form id="form" action="">
                    <input id="input" autocomplete="off" /><button>Send</button>
                </form>
            
        </div>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/app.js"></script>
</body>

</html>